CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json


# Build output
build/
bin/
out/

# Compiled objects
*.obj
*.o
*.pdb
*.ilk
*.exp
*.lib

# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# CMake
CMakeCache.txt
CMakeFiles/